/*
/*  FORMS.SCSS  */
    
    input[type="text"],
    .select-target,
    .select {
        width: 12.5em;    
    }

    input[type="text"],
    textarea,
    .select-target {  
        padding: .5em 1.5em .5em .5em;
        
        border: 1px solid #eee;
        border-radius: .3em;
        
        &:hover,
        &:focus {
            color: getColor("foreground");
            outline: 0;   
        }
    }

    input[type="text"] {
        color: getColor("foreground");
        
        &::placeholder {
            color: getColor("foreground");
            opacity: .5;
        }
    }

    .select-target,
    .select-option {
        padding: .5em 1.5em .5em .5em;
    }

    .select-target {
        position: relative;
        
        display: inline-block;
         
        text-decoration: none;
        
        &:after {
            content: "";
            
            position: absolute;
            top: calc(50% - 2px); right: .8em;
            
            display: block;
            
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: getColor("foreground") transparent transparent transparent;
            border-radius: 1em;
            
            transition: transform .2s ease;
        }
        
        &.select-open { 
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    .select {        
        overflow: hidden;
        
        border: 1px solid #eee;
        border-top: none;
        border-bottom-left-radius: .3em;
        border-bottom-right-radius: .3em;
        
        &-option {            
            cursor: pointer;
        }
        
        &-option-highlight {
            background-color: getColor("foreground", "accent");
            color: #fff;
        }
    }

    
    button,
    .button {        
        padding: .5em 1.25em;
        
        line-height: 1;
        text-decoration: none;
        
        border: 1px solid #eee;
        border-radius: .3em;
    
        cursor: pointer;
        
        &:hover,
        &:focus,
        &:active {
            outline: none;
            
            color: getColor("foreground");
            
            border-color: getColor("foreground", "accent");
        }
    }

    textarea {
        width: 100%;
        max-width: 400px;
    }


/*
/*  FORM ITEMS  */

    .form-item {
        label {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        & + .form-item {
            padding-top: .5em;   
        }
        
        &--text {
            input {
                &:not(:first-child) {
                    margin-left: 1em;
                }
            }
        }
        
        &--select {
            label > span {
                margin-right: 1em;   
            }
        }
        
        &--radio {
            label {
                
                padding: .25em 0;
                
                &:first-child {
                    padding-top: 0;   
                }
                
                &:last-child {
                    padding-bottom: 0;   
                }
                
                input {
                    margin-right: .5em;   
                }
            }
        }
        
        & + h3 {
            margin-top: 1.5em;   
        }
    }
