/*
/*  BREAKPOINTS.SCSS  */

    $mobile-sm-min-width: 420em / 16;
    $tablet-sm-min-width: 600em / 16;
    $tablet-lg-min-width: 768em / 16;
    $desktop-sm-min-width: 1024em / 16;
    $desktop-lg-min-width: 1280em / 16;
    $dekstop-xl-min-width: 1600em / 16;