/*
/*  TYPOGRAPHY  */

    
    /*
    /*  HEADERS  */

        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 .5em 0;
            padding: 0;

            line-height: 1;
            
            small {
                font-size: .8em;
                font-weight: 400;
                
                white-space: nowrap;
                
                opacity: .75;
            }
            
            @media (min-width: $mobile-sm-min-width) {
                small {
                    font-size: .6em;   
                }
            }
        }

        h1 {
            @include font-size(45);
        }

        h2 {
            @include font-size(36);
        }

        h3 {
            @include font-size(24);;     
        }

        h4 {
            @include font-size(16); 
            
            small {
                font-size: .8em;   
            }
            @media (min-width: $mobile-sm-min-width) {
                small {
                }
            }
        }

    

    /*
    /*  PARAGRAPHS  */

        p, a, ul, ol, li, label, input, textarea {
            @include font-size(16);
        }

        p, ul, ol , textarea {
            line-height: 1.4;   
        }

        p {
            &:not(:last-child) {
                margin-bottom: .75em;
            }
        }

    
    /*
    /*  TEXT TRANSFORMS  */

        .uppercase {
            text-transform: uppercase;
        }

        .lowercase {
            text-transform: lowercase;
        }


    /*
    /*  LINK STYLING  */

        a {
            color: inherit;
            text-decoration: underline;
            
            transition: color .2s ease;
            
            &:hover,
            &:active,
            &:focus,
            &.active {
                color: getColor("foreground", "accent");   
            }
        }
