@import url(https://fonts.googleapis.com/css?family=Changa+One);

.container.header {
    margin-bottom: 10px;
    
    text-align: center;
    
    background-color: #0074D9; 
    color: #fff;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.container.header svg {
    display: block;
    width: 150px;
    height: auto;
    
    margin: 0 auto;
    
    fill: #fff;
    stroke: rgba(255, 255, 255, 0);
    
    transition: fill .3s ease, stroke .3s ease;
}

.container.header svg:hover {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
}

.container.header h1 {
    margin-bottom: .25em;
    
    font-family: "Changa One";
    font-size: 2.5rem;
}

.container:not(.header) {
    width: 100%;
    max-width: calc(800px - 2rem);
    
    margin: 0 auto;
}

.container.footer {
    font-size: 12px;   
}
